body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FBE1F7;
}

#jogo {
    text-align: center;
    background-color: #FFF0F6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.linha {
    display: flex;
    justify-content: center;
}

.casa {
    width: 100px;
    height: 100px;
    background-color: #FEE1F2;
    border: 2px solid #F09BB7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #F09BB7;
    cursor: pointer;
    margin: 5px;
}

#resultado {
    font-size: 1.5rem;
    margin: 20px 0;
}

.scoreboard {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #F09BB7;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FCE4EC;
}